.section {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/banner-bg1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  height: 100vh;
}
